<nav  class="navbar navbar-expand-sm navbar-light bg-dark" >
    <div class="collapse navbar-collapse" id="collapsibleNavId">
       <img id="image" src="./assets/logo.jpeg" >
        <h2 style="color:wheat;">PROJECT WORLDS BANK</h2>
    </div>
</nav>
<nav *ngIf="nav.visible" class="navbar navbar-expand-sm navbar-light bg-dark">
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item " style="margin-right: 30px;">
                <a class="nav-link" href="#" style="color: white;">HOME</a>
            </li>
            <li class="nav-item" style="margin-right: 30px;">
                <a class="nav-link" routerLink="userhome" style="color: white;">NEWS</a>
            </li>
            <li class="nav-item" style="margin-right: 30px;">
                <a class="nav-link" routerLink="adminlogin" style="color: white;">CONTACT</a>
            </li>
            <li class="nav-item" style="margin-right: 30px;">
                <a class="nav-link" href="#" style="color: white;">ABOUT US</a>
            </li>
           
        </ul>
        
    </div>
</nav>

