<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item " style="margin-right: 30px;">
                <a class="nav-link" href="#" style="color: white;">HOME</a>
            </li>
            <li class="nav-item" style="margin-right: 30px;">
                <a class="nav-link" routerLink="adminhome" style="color: white;">NEWS</a>
            </li>
            <li class="nav-item" style="margin-right: 30px;">
                <a class="nav-link" href="#" style="color: white;">CONTACT</a>
            </li>
            <li class="nav-item" style="margin-right: 30px;">
                <a class="nav-link" href="#" style="color: white;">ABOUT US</a>
            </li>
           
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
