<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <h2 style="color: white; margin-right: 950px;">Welcome, Admin</h2>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" (click)="home()" style="color: white;"><h4><i class="fa fa-sign-out">Logout </i></h4></a>
            </li>
            
        </ul>
        
    </div>
</nav>
<!-- <div *ngIf="adminnav.visible" class="sidebar"> -->
    <nav *ngIf="adminnav.avisible" class="sidebar">
    <a  (click)="adminhome()">Home</a>
    <a (click)="mycustomers()">My Customers</a>
    <a (click)="addcustomers()">Add Customer</a>
    <a href="#about">Manage Customers</a>
    <a href="#about">Customer Griveances</a>
    <a href="#about">Website Management</a>
    <a href="#about">Post News</a>
    </nav>
  <div class="content">
    <h2 style="text-align: center ">Welcome Admin</h2>
   <hr >
   <div style="margin:50px;">
    <p>From here you can manage all of core Internet Banking settings.You can add/manage customers,view their transactions,edit their details and even delete them. You can also post news on the website</p>
    <p>Please keep in mind that with big power comes big responibility. Therefore please do not misuse your admin control to create trouble.</p>
</div>
  </div>
